/*Main Styling*/

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: sans-serif;
}

/*Header Section*/

#main-header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0px 10px white;
    position: fixed;
    z-index: 10;
    font-family: sans-serif;
}

.navigation {
    padding-left: 400px;
    margin-top: -80px;
    color: black;
}

#main-header img {
    padding: 20px 0 0 70px;
}

.navigation ul li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.navigation ul li:hover {
    box-shadow: 0 3px 0 yellow;
    border: blue;
    border-radius: 1px;
    color: black;
    background-color: beige;
}

.cloudcha {
    padding: 10px;
    border-radius: 10px;
    border: dashed rgb(255, 233, 143);
}

.nav-search i {
    color: white;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(255, 204, 0);
    border-radius: 10px;
    box-shadow: 0 3px 0 rgb(225, 146, 1);
}

.nav-search i:hover {
    padding: 12px;
    box-shadow: none;
}

/*Main Section*/

#main-section {
    width: 100%;
    height: 1300px;
    background-image: url(../img/background-photo-1084416182-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-information {
    text-align: center;
    font-size: 21px;
    position: absolute;
    padding: 250px 0 0 0px;
    letter-spacing: 2px;
    color: white;
}

.font {
    font-family: cursive;
    padding-bottom: 15px;
}

.font-yellow {
    font-size: 60px;
    padding: 40px 0;
    color: yellow;
}

.children-img {
    margin-top: 50px;
}

.icons {
    width: 100%;
    font-size: 17px;
    padding-top: 50px;
}
.icon-aqua, .icon-green, .icon-blue, .icon-orange {
    width: 20%;
    display: inline-block;
    padding: 10px;
}
.icon {
    padding: 30px;
    border-radius: 50%;
}
.icon-aqua i{
    background-color: aqua;
    border: dashed rgb(125, 253, 253);
}
.icon-blue i{
    background-color: blue;
    border: dashed rgb(93, 93, 255);
}
.icon-green i{
    background-color: green;
    border: dashed rgb(33, 165, 33);
}

.icon-orange i{
    background-color: orange;
    border: dashed rgb(255, 190, 70);
}
.information {
    color: black;
    padding-top: 30px;
    font-size: 15px;
}
.different {
    color: orange;
    padding: 20px;
}